<h1>Watering schedule</h1>
<% if @schedule %>
  <p>Is watering set on for this plant:
  <%= @schedule.watering %></p>
  <p>Watering interval in hours:
  <%= @schedule.interval %></p>
<% else %>
  <p>No schedule set</p>
<% end %></br>
<button class="btn btn-secondary"><%= link_to 'Edit', edit_plant_schedule_path(@plant, @schedule), style: "color:white"   %></button>
<button class="btn btn-secondary"><%= link_to 'Back', plants_path, style: "color:white"   %></button>
