<h1>Watering schedule</h1>
<% if @schedule %>
  <p>Is watering set on for this plant:
  <%= @schedule.watering %></p>
  <p>Watering interval in hours:
  <%= @schedule.interval %></p>
<% else %>
  <p>No schedule set</p>
<% end %></br>
<button class="btn btn-outline-primary"><%= link_to 'REdit', edit_plant_schedule_path(@plant, @schedule) %></button>
<button class="btn btn-outline-primary"><%= link_to 'Back', plants_path %></button>
