<h1>Settings</h1>
<p>Show setting parameters</p>
<% if @setting %>
  <p>Setting: <%= @setting.attributes %></p>
<% else %>
  <p>No setting found</p>
<% end %></br>
<%= link_to 'Edit', edit_plant_setting_path(@plant, @setting) %>

<%= link_to 'Back', plants_path %>