<p>
  <strong>Name of monitored plant:</strong>
  <%= @plant.name %>
</p>
<p>
  <strong>Watering schedule interval</strong>
  <%= @plant.schedule.interval if @plant.schedule %>
</p>

<p>Jakies paramy czy wykresy historyczne</p>
<!--dodac linki do stworzenia pomiarow, schedule i ustawien-->
<!--mozna zrobic partiale do poszczegolnych elementow-->

<%= link_to 'Back', plants_path %>